<!DOCTYPE html>
<html>
<head>
	<title> Multi Programming Practice System .</title>
	<link rel="stylesheet" type="text/css" href="public/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="public/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="public/css/styles.css">

</head>
<body>
	

	<header class="cont">
		<!-- logo and Navigation links for homepage -->
		<div class="contain-body">

		<div class="col">
			<nav class="navbar navbar-expand-lg">
			<a href="home" class="navbar-brand">[ LOGO ]</a>
			<!-- <button class='navbar-toggler' data-toggle='collapse' data-target='#header-menu' id="mobile-menu">
					MENU
				</button> -->

			
			<div class="navbar-collapse collapse justify-content-end" id="header-menu">
				<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link <%= home %>" href="home"> Register </a></li>				
				<li class="nav-item"><a class="nav-link <%= signin %>" href="signin"> Login </a></li>
				<li class="nav-item"><a class="nav-link <%= signin %>" href="signin"> About System </a></li>
				
				

				</ul>

			</div>
			</nav>
		</div>
	</div>


	</header>

	<section class="cont py-5">
		<div class="contain-body">
		<!-- the lead section, contains the simple description info -->
		<h2 class="display-4"> Run Codes, Learn </h2>
		<p class="text-muted"> Get access to run codes on our array of multiple compilers, learn from instructors. </p>

		<p><a href="runcode.html"><button class="btn"> Run Code </button></a> <a href="login.html"><button class="btn btn-danger ml-2"> Get Started </button></a></p>
	</div>
</section>
	<div id="bottom-display" class="py-5">
	<section class="contain-body">
		<!-- this section contains icons and explains what the system does. -->
		<div class="row">
		<div class='col-sm-12 col-md-2 home-icon'><i class="fa fa-code fa-5x" aria-hidden="true"></i></div>
		<div class='col-sm-12 col-md-2 home-icon'><i class="fa fa-desktop fa-5x" aria-hidden="true"></i></div>
		<div class='col-sm-12 col-md-2 home-icon'><i class="fa fa-mobile fa-5x" aria-hidden="true"></i></div>
		<div class="col-sm-12 col-md-2 home-icon"><i class="fa fa-users fa-5x" aria-hidden="true"></i></div>
		<div class="col-sm-12 col-md-2 home-icon"><i class="fa fa-cube fa-5x" aria-hidden="true"></i></div>
		</div>

		<br><br>
		<p> <b> MPS </b> is a simple web based multi programming practice platform designed to be easy to use, yet powerful. You can use various components of the system to test your codes and take lessons provided by available instructors. Due to its responsive nature and scalability, any device is supported.</p>
	</section>


	<footer>

		<!-- closing of all header tags -->
		<div class="text-right"> &copy; Multi Programming Practice system 2019.</div>
	</footer>
</div>

</body>
</html>