<% include ./partials/header %>

<div class="main">

	<div class="block-quote text-center mt-2 text-muted" style="color : white"> Get started with this cards: </div>
	<br>
	<div class="row mt-5" id="what-to-do">
		
	<div class="card ml-5" style="width : 20rem">
							  <div class="card-body">
							    <h4 class="card-title text-center"> Test Codes</h4>
							    <h6 class="card-subtitle mb-2 text-muted text-center"> Test codes for multiple programming languages.</h6>
							    <center><i class="fa fa-code fa-5x"></i></center>
							    <br>
							    <center><a href="/code-area" class="btn btn-success"> Test Codes </a></center>
							    
							  </div>
							</div>

<div class="card ml-5" style="width: 20rem">
							  <div class="card-body">
							    <h4 class="card-title text-center"> Search for a Class</h4>
							    <h6 class="card-subtitle mb-2 text-muted text-center"> Get access to wide range of class for different topics.</h6>
							    <center><i class="fa fa-search fa-5x"></i></center>
							    <br>
							    <center><a href="#" class="btn btn-success"> Search Class </a></center>
							    
							  </div>
							</div>

							<div class="card ml-5" style="width: 20rem">
							  <div class="card-body">
							    <h4 class="card-title text-center"> Start a Class</h4>
							    <h6 class="card-subtitle mb-2 text-muted text-center"> Check our list of classes, and access them now. </h6>
							    <center><i class="fa fa-book fa-5x"></i></center>
							    <br>
							  
							    <center><a href="/class" class="btn btn-success"> Start Class </a></center>
							    
							  </div>
							</div>

							
	
	</div>




</div>

<% include ./partials/footer %>


