<% include ./partials/header %>

	<!-- main area -->
	<main class="main">
		<div class="col">
			<div class="row">
				<div class="col-md-2" id="sidebar">
					<!-- side menu -->
					<br>
					<b><font size="3">Find a Course</font></b>

					<form>
						<input type="search" name="course-name" class="form-control" placeholder="Course name">	

						<button type="submit" class="btn btn-block btn-success"> Find </button>
					</form>
					<br>

					<!-- ************* Create a new class ****************------>
					<form id="create-class">
					<div class="row">
						<div class="col-md-7">
					<b><font size="3">Create a class</font></b>

					
						<input type="search" name="course-title" id="class-title" class="form-control" placeholder="Class name">	

						<button type="submit" class="btn btn-block btn-success" id="create-class"> Create Class </button>
					
					<br>
					</div>
					<div class="col-md-5"><select class="form-control s-area" id="lang">
						<option> Lang </option>
						<option value="JS"> Javascript </option>
					</select></div>
				</div>
			</form>
					

				</div>
				<div class="col-md-10">
					<div class="row">

						<div class="col-md-6">
							<!-- text editor area -->
							<div class="lesson-info">I am working on <span id="workingOn"> </span>  with <span id="workingOnLang"></span> programming language.
									<script type="text/javascript">
										const workingOn = getCookie("ed_class_title") || "Nothing";
										const workingOnLang = getCookie("ed_class_lang") || "No language selected"

										document.getElementById("workingOn").innerHTML = workingOn;
										document.getElementById("workingOnLang").innerHTML = workingOnLang;


									</script>
							 </div>
							<textarea id="lessonEditor"></textarea>

							<button class="btn btn-block py-3 mt-3" id="saveLesson"> <b>Save</b> </button>

						</div>

						<div class="col-md-6">
							<!-- code & output area -->
							<textarea id="code" class="CodeMirror-sizer"></textarea>

					<div class="windowLabelCont">
						<button onclick="showWindowLabels()" class="windowLabel" id="editorLabel"> <i class="mr-1 fa fa-caret-down"></i></button>
						<div id="labelList" class="labelList">
							<a href="?compileLang=html"> HTML </a>
							<a href="?compileLang=javascript"> Javascript </a>
							<a href="?compileLang=css"> css </a>
						</div>
					</div>
					
					
					




							

				<div id="codeOutput" class="CodeMirror-sizer" style="min-height : 200px;border:1px solid black">
					<div class="windowLabelCont">
						<button class="windowLabel" style="padding : 6px">  RUN </button>
					</div>
					<div class="code-display mt-4 ml-3" id="code-display">
							code output shows here ...
						</div>
					


				</div>

				
						</div>

						

				
						
					</div>

					
					

				</div>

				
				

				

				
				
			</div>
		</div>
	</main>

 


	




<% include ./partials/footer %>