<!DOCTYPE html>
<html>
<head>
	<title> Multi Programming Practice System .</title>
	<link rel="stylesheet" type="text/css" href="public/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="public/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="public/css/styles.css">
		

		<style type="text/css">
			body{
				background-color: black
			}
		</style>
		<script src="public/3rd_party/codemirror/lib/codemirror.js"></script>
<link rel="stylesheet" href="public/3rd_party/codemirror/lib/codemirror.css">
<script src="public/3rd_party/codemirror/mode/javascript/javascript.js"></script>

	

</head>
<body>
	

	<header class="cont">
		<!-- logo and Navigation links for homepage -->
		<div class="contain-body">

		<div class="col">
			<nav class="navbar navbar-expand-lg">
			<a href="home" class="navbar-brand"> Hello, Jeffery</a>
			

			
			<div class="navbar-collapse collapse justify-content-end" id="header-menu">
				<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" href="signup.html"><i class="fa fa-code"></i> Run Snippet </a></li>	
				<li class="nav-item"><a class="nav-link" href="signup.html"><i class="fa fa-"></i> Settings </a></li>			
				<li class="nav-item"><a class="nav-link <%= signin %>" href="login.html"><i class="fa fa-key"></i> Logout </a></li>
				
				</ul>

			</div>
			</nav>
		</div>
	</div>
 

	</header>


	<section id="mainarea">
		
		<!-- main area -->
		<div class="row">

			
				<div class="col-md-5" style="background-color: #000;padding: 19px">
					<div id="left-area">
						
					
					
					<!-- showcase -->
					<div id="courses-slider">
						<!-- courses slider-->
							<div class="card" style="">
							  <div class="card-body">
							    <h4 class="card-title">Card title</h4>
							    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
							    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							    <a href="#" class="btn btn-success"> Start Lesson</a>
							    
							  </div>
							</div>

					</div>
					

					<div>
						<!-- select language to run code area -->
					</div>

				</div>
				</div>

				<div class="col-md-7">
					<!-- search result area -->

					

						<div class="form-inline float-right"><input type="text" name="search" id="search" placeholder="search" class="form-control">
						 <button class="btn btn-info ml-3"> Search </button>

						 
					</div>
					<br>
					<br>
					<p class="text-center text-success"> -- search results would appear here --	</p>
					

				
				</div>
			</div>
		
	</section>
	



<script src="public/js/script.js"></script>


</body>
</html>